@import url("https://fonts.googleapis.com/css?family=Alfa Slab One");

:root {
  --purple: #2e2459;
  --yellow: #ffc832;
}

html, body {
  margin: 0;
  font-family: "Alfa Slab One", serif;
  background-color: var(--purple);
  color: var(--yellow);
}

#text {
  padding: 15px 15px 100px 15px;
  background-color: var(--yellow);
  color: var(--purple);
}

h1 {
  font-size: 8rem;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 1px;
}
